.classpath
.factorypath
.project
.settings
target
src/test
src/main/java/nl/tno/willemsph/psd_repository/sparql/AwsClientIO.java
src/main/java/nl/tno/willemsph/psd_repository/sparql/AwsSendEmail.java
credentials1.csv
credentials2.csv
**/*.pdf
